html, body {
  min-width: 500px;
  font-size: 14px;
}

ol {
  margin: 0;
  padding-inline-start: 20px
}

h2 {
  color:rgb(59, 56, 56);
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

h3 {
  font-size: 14px;
  color:rgb(59, 56, 56);
  font-weight: 600;
  margin-top: 3px;
  margin-bottom: 3px;
}

textarea {
  width: 480px;
  margin-bottom: 5px;
}

.show_button {
  margin-top: 10px;
  width: 50%;
}

.counts_container {
  display: flex;
}

.total_nb_container {
  margin-top: 14px;
  margin-bottom: 14px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgb(241, 241, 241);
  border-radius: 5px;
  padding: 10px;
  background:rgb(241, 241, 241)
}

.total_nb_purposes_container {
  /* border-right: 1px solid rgb(219, 219, 219);
  padding-right: 3px; */
  margin-right: 10px;
}

.total_nb_vendors_container {
  padding-left: 8px;
}

.total_nb_purposes {
  border: 1px solid rgb(7, 125, 141);
  background-color: rgb(7, 125, 141);
}

.total_nb_vendors {
  border: 1px solid rgb(179, 104, 61);
  background-color: rgb(179, 104, 61);
}

.total_nb {
  border-radius: 50%;
  color: white;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  padding: 3px;
  font-size: 18px;
  font-weight: bold;
  margin: 3px;
  margin-left: 'auto';
  margin-right: 'auto';
}

.content-container {
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 8px;
  /* border-bottom: 1px solid rgb(204, 203, 203); */
}

.purpose-consented-item {
  list-style-type: "\2705";
  margin-bottom: 6px;
}

.purpose-not-consented-item {
  list-style-type: "\274C";
  margin-bottom: 6px;
}

.hidden {
  display: none;
}

button {
  padding: 3px;
}

.identified_cmp {
  color: rgb(6, 103, 116);
  font-size: 16px;
}

.bounded_container {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 5px;
  overflow-y: auto;
  max-height: 200px;
  padding-top: 8px;
}

#vendors_list {
  margin-top: 8px;
  padding-left: 28px;
}

#cmp {
    font-weight: bold;
}

#purposes_list {
  margin-top: 5px;
}

#vendors {
    font-size: 0.8em;
    white-space: pre-line;
}

#purposes {
    white-space: pre-line;
}

.icon {
  width: 20px;
}

#version {
    font-size: 0.8em;
}
