html, body {
  width: 500px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.button:hover {
  background-color: #CFF2F2;
}

.button {
  background-color: #E5F2F2;
}

.button:hover {
  background-color: #EAEA9D;
}

textarea {
  width: 480px;
}

#nb_purposes, #nb_vendors, #cmp {
    font-weight: bold;
}

#vendors {
    font-size: 0.8em;
    white-space: pre-line;
}

#purposes {
    white-space: pre-line;
}

.icon {
  width: 20px;
}
